
$width: 200px;
$height: 300px;

.search {
  position: fixed;
  top: 18px;
  left: calc(50vw - 110px);
  background-color: white;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  input{
    margin: 10px;
  }
}

:host {

  display: flex;
  flex-wrap: wrap;
  margin: 50px;
  justify-content: center;
  align-items: center;

  .beer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: $width;
    height: $height;
    margin: 15px;
    h4 {
      margin-bottom: 0;
    }
    h4, p {
      text-align: center;
    }
    img {
      height: 50%;
    }
  }

  @media only screen and (min-width: 1420px) {
    max-width: 70%;
    margin: 50px auto;

    .search {
      left: 20px;
      top: 37px;
    }
  }
}
