<button type="button" class="back-btn" [routerLink]="['/beers']">⬅</button>

<div class="beer-container">
  <div *ngIf="beer" class="beer-wrapper">
    <img src="{{beer.image_url}}">
    <table>
      <tr>
        <td>Name</td>
        <td>{{beer.name}}</td>
      </tr>
      <tr>
        <td>Description</td>
        <td>{{beer.description}}</td>
      </tr>
      <tr>
        <td>First Brewed</td>
        <td>{{beer.first_brewed}}</td>
      </tr>
      <tr>
        <td>Foods that pair with that beer</td>
        <td>{{beer.food_pairing}}}</td>
      </tr>
      <tr>
        <td>Abv and Ibu</td>
        <td>
          <div class="labels">
            <span>{{beer.abv}}</span>
            <span *ngIf="beer.ibu"> {{beer.ibu}}</span>
          </div>
        </td>
      </tr>
      <tr>
        <td>Contributor/s</td>
        <td>{{beer.contributed_by}}</td>
      </tr>
    </table>
  </div>
  <div class="gravity-wrapper">
    <div class="gravity">
      <p>Calculate the difference between original and final gravity </p>
      <button (click)="gravityDifference(beer.target_og, beer.target_fg)" type="button">Calculate!</button>
    </div>
    <p>Result: {{result}}</p>
  </div>
</div>
