.beer-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 10px;
}

.beer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img {
  border-radius: 10px;
  width: auto;
  max-height: 300px;
  height: auto;
  margin: 30px;
}


table {
  td {
    padding: 10px 0;
  }

  td:first-of-type {
    font-weight: bold;
    font-family: 'Shadows Into Light', cursive;
    font-size: 20px;
    padding-right: 10px;
  }
}

.labels {
  display: flex;
  span {
    display: block;
    margin-right: 10px;
    color: white;
    padding: 5px;
    border-radius: 6px;
    background-color: mediumpurple;
  }
}

.calc-btn {
  background-color: mediumpurple;
  letter-spacing: 1px;
  border: none;
  border-radius: 6px;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


@media only screen and (min-width: 768px) {
  .beer-container {
    max-width: 700px;
    margin-top: 50px;
    padding: 0;
  }

  img {
    width: 100px;
    max-height: none;
  }

  .beer-wrapper {
    flex-direction: row;
  }

  table {
    margin-left: 30px;

    td:first-of-type {
      min-width: 150px;
    }
  }
}
